<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <%if (!user){%>
    <h2>Login here!</h2>
    <form method = "POST" action ="/login">
        <label for = "username">Username</label>
        <input type = "text" id = "username" name = "username">
        <label for = "password">Password</label>
        <input type = "password" id = "password" name = "password">
        <button type="submit">Login</button>

    </form>
    <%}%>
    <% if (!user) {%>
    <a href = "/signup">Sign up here</a>
    <%} else {%>
        <a href = "/logout">Logout</a>
        <%}%>
</body>
</html>